<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Banking" verbose="1" >
<listeners>
<listener class-name="com.bank.qa.Listner.Listerevent"></listener>
</listeners>
  <test name="SignIn"   >
  <parameter name="browser" value="Chrome"></parameter>
    <classes>
      <class name="com.bank.qa.test.LoginTest" /> 
      <class name="com.bank.qa.test.HomeTest" />
   </classes>
 </test>

</suite>
